TELEGRAM_BOT_TOKEN="8322841794:AAFNN6hpNE6M6OKyFMYXvbNY0KiFI5x0szE"
TELEGRAM_ALLOWED_USER_IDS="7590807519"
GROQ_API_KEY="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"
OPENROUTER_API_KEY="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"
OPENROUTER_MODEL="openrouter/free"
DB_PATH="./memory.db"
GOOGLE_APPLICATION_CREDENTIALS="./service-account.json"
